@model List<USExchange>
@{
    ViewData["Title"] = "All Stocks";
    ViewData["NavbarTitle"] = "All Stocks";
}
<div class="box margin-top">
    <vc:all-stocks us-exchange="Model"></vc:all-stocks>
</div>