@{
    ViewBag.Title = "Error Page";
}

<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>

    <img src="~/error500.jpg" width="30%" style="margin-top:100px" />
</div>