@model List<USExchange>
<script type="text/javascript">
    const model = @Html.Raw(Json.Serialize(Model))
</script>
<script src="~/Scripts/AllStocks.js"></script>
<button id="load-stocks-button"
        type="button"
        class="button button-blue-back margin-bottom"
        onclick="loadStocks()">
    Load Stocks
</button>
<table id="stocks-table"
       style="display: none"
       class="table w-100">
    <thead>
        <tr>
            <th style="width: 5%">Currency</th>
            <th style="width: 30%">Description</th>
            <th style="width: 8%">Display Symbol</th>
            <th style="width: 10%">FIGI</th>
            <th style="width: 10%">ISIN</th>
            <th style="width: 10%">MIC</th>
            <th style="width: 10%">Share Class FIGI</th>
            <th style="width: 5%">Symbol</th>
            <th style="width: 5%">Symbol2</th>
            <th style="width: 10%">Type</th>
        </tr>
    </thead>
    <tbody id="stock-list">
    </tbody>
</table>
<button id="load-more-button"
        type="button"
        class="button button-green-back margin-top"
        style="display: none"
        onclick="loadNextItems()"
>Load More...</button>