<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">
                @ViewData["NavbarTitle"]
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
